name: Build & Test

on:
  pull_request:
    branches:
      - master
      - develop
  push:
    branches:
      - master
      - develop

jobs:
  build:
    name: Build and Test
    if: contains(github.event.head_commit.message, 'do not build') == false
    strategy:
      matrix:
        scala: [3.0.2]
        java: [adopt@1.11]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2

      - uses: olafurpg/setup-gpg@v3

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: \${{ matrix.java }}

      - name: Cache coursier
        uses: coursier/cache-action@v5

      - run: sbt ci

      - name: Deploy coverage report
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true

